:root {
    --col-1: calc(100% / 12);
    --col-2: calc(var(--col-1) * 2);
    --col-3: calc(var(--col-1) * 3);
    --col-4: calc(var(--col-1) * 4);
    --col-5: calc(var(--col-1) * 5);
    --col-6: calc(var(--col-1) * 6);
    --col-7: calc(var(--col-1) * 7);
    --col-8: calc(var(--col-1) * 8);
    --col-9: calc(var(--col-1) * 9);
    --col-10: calc(var(--col-1) * 10);
    --col-11: calc(var(--col-1) * 11);
    --col-12: calc(var(--col-1) * 12);
}

.container {
    float: left;
    width: 100%;
    padding: 60px 15px;
}
.container > .row {
    float: left;
    width: 100%;
    background-color: rgb(245, 228, 231);
}
.container > .row + .row {
    margin-top: 20px;
}

.container > .row > [class*='col-'] {
    float: left;
}

.container > .row > .col-1 {
    width: var(--col-1);
}
.container > .row > .col-2 {
    width: var(--col-2);
}
.container > .row > .col-3 {
    width: var(--col-3);
}
.container > .row > .col-4 {
    width: var(--col-4);
}
.container > .row > .col-5 {
    width: var(--col-5);
}
.container > .row > .col-6 {
    width: var(--col-6);
}
.container > .row > .col-7 {
    width: var(--col-7);
}
.container > .row > .col-8 {
    width: var(--col-8);
}
.container > .row > .col-9 {
    width: var(--col-9);
}
.container > .row > .col-10 {
    width: var(--col-10);
}
.container > .row > .col-11 {
    width: var(--col-11);
}
.container > .row > .col-12 {
    width: var(--col-12);
}

@media (min-width: 576px) {
    .container > .row {
        width: 540px;
        margin: 0 calc(50% - 270px);
    }

    .container > .row > .col-sm-1 {
        width: var(--col-1);
    }
    .container > .row > .col-sm-2 {
        width: var(--col-2);
    }
    .container > .row > .col-sm-3 {
        width: var(--col-3);
    }
    .container > .row > .col-sm-4 {
        width: var(--col-4);
    }
    .container > .row > .col-sm-5 {
        width: var(--col-5);
    }
    .container > .row > .col-sm-6 {
        width: var(--col-6);
    }
    .container > .row > .col-sm-7 {
        width: var(--col-7);
    }
    .container > .row > .col-sm-8 {
        width: var(--col-8);
    }
    .container > .row > .col-sm-9 {
        width: var(--col-9);
    }
    .container > .row > .col-sm-10 {
        width: var(--col-10);
    }
    .container > .row > .col-sm-11 {
        width: var(--col-11);
    }
    .container > .row > .col-sm-12 {
        width: var(--col-12);
    }
}

@media (min-width: 768px) {
    .container > .row {
        width: 720px;
        margin: 0 calc(50% - 360px);
    }

    .container > .row > .col-md-1 {
        width: var(--col-1);
    }
    .container > .row > .col-md-2 {
        width: var(--col-2);
    }
    .container > .row > .col-md-3 {
        width: var(--col-3);
    }
    .container > .row > .col-md-4 {
        width: var(--col-4);
    }
    .container > .row > .col-md-5 {
        width: var(--col-5);
    }
    .container > .row > .col-md-6 {
        width: var(--col-6);
    }
    .container > .row > .col-md-7 {
        width: var(--col-7);
    }
    .container > .row > .col-md-8 {
        width: var(--col-8);
    }
    .container > .row > .col-md-9 {
        width: var(--col-9);
    }
    .container > .row > .col-md-10 {
        width: var(--col-10);
    }
    .container > .row > .col-md-11 {
        width: var(--col-11);
    }
    .container > .row > .col-md-12 {
        width: var(--col-12);
    }
}

@media (min-width: 992px) {
    .container > .row {
        width: 960px;
        margin: 0 calc(50% - 480px);
    }

    .container > .row > .col-lg-1 {
        width: var(--col-1);
    }
    .container > .row > .col-lg-2 {
        width: var(--col-2);
    }
    .container > .row > .col-lg-3 {
        width: var(--col-3);
    }
    .container > .row > .col-lg-4 {
        width: var(--col-4);
    }
    .container > .row > .col-lg-5 {
        width: var(--col-5);
    }
    .container > .row > .col-lg-6 {
        width: var(--col-6);
    }
    .container > .row > .col-lg-7 {
        width: var(--col-7);
    }
    .container > .row > .col-lg-8 {
        width: var(--col-8);
    }
    .container > .row > .col-lg-9 {
        width: var(--col-9);
    }
    .container > .row > .col-lg-10 {
        width: var(--col-10);
    }
    .container > .row > .col-lg-11 {
        width: var(--col-11);
    }
    .container > .row > .col-lg-12 {
        width: var(--col-12);
    }
}

@media (min-width: 1200px) {
    .container > .row {
        width: 1140px;
        margin: 0 calc(50% - 570px);
    }

    .container > .row > .col-xl-1 {
        width: var(--col-1);
    }
    .container > .row > .col-xl-2 {
        width: var(--col-2);
    }
    .container > .row > .col-xl-3 {
        width: var(--col-3);
    }
    .container > .row > .col-xl-4 {
        width: var(--col-4);
    }
    .container > .row > .col-xl-5 {
        width: var(--col-5);
    }
    .container > .row > .col-xl-6 {
        width: var(--col-6);
    }
    .container > .row > .col-xl-7 {
        width: var(--col-7);
    }
    .container > .row > .col-xl-8 {
        width: var(--col-8);
    }
    .container > .row > .col-xl-9 {
        width: var(--col-9);
    }
    .container > .row > .col-xl-10 {
        width: var(--col-10);
    }
    .container > .row > .col-xl-11 {
        width: var(--col-11);
    }
    .container > .row > .col-xl-12 {
        width: var(--col-12);
    }
}

@media (min-width: 1400px) {
    .container > .row {
        width: 1320px;
        margin: 0 calc(50% - 660px);
    }

    .container > .row > .col-xxl-1 {
        width: var(--col-1);
    }
    .container > .row > .col-xxl-2 {
        width: var(--col-2);
    }
    .container > .row > .col-xxl-3 {
        width: var(--col-3);
    }
    .container > .row > .col-xxl-4 {
        width: var(--col-4);
    }
    .container > .row > .col-xxl-5 {
        width: var(--col-5);
    }
    .container > .row > .col-xxl-6 {
        width: var(--col-6);
    }
    .container > .row > .col-xxl-7 {
        width: var(--col-7);
    }
    .container > .row > .col-xxl-8 {
        width: var(--col-8);
    }
    .container > .row > .col-xxl-9 {
        width: var(--col-9);
    }
    .container > .row > .col-xxl-10 {
        width: var(--col-10);
    }
    .container > .row > .col-xxl-11 {
        width: var(--col-11);
    }
    .container > .row > .col-xxl-12 {
        width: var(--col-12);
    }
}