/* section7/blog posts start  */


.blog .container {
    background-color: #f9f9ff;
    padding: 120px 0px 120px 0px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    --w: 760px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
    padding: 0px 15px 30px 15px;
}

.blog-title > h2 {
    font-size: 36px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    line-height: var(--text-line-height);
}

.blog-title > p {
    color: rgb(119, 119, 119);
    margin-bottom: 45px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: var(--text-line-height);
    box-sizing: border-box;
}

.blog-pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    --w: 1140px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}

.part-of-blog {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 380px;
}

.part-of-blog > img {
    max-width: 100%;
    max-height: 100%;
}

.part-of-blog .text-title {
    margin-top: 35px;
}

.part-of-blog .text-title > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
    line-height: 1.2em;
}

.part-of-blog ::selection {
    background-color: #8490ff;
    color: white;
}

.part-of-blog .text-parag {
    margin-top: 15px;
    margin-bottom: 45px;
}

.blog-writer {
    display: flex;
    box-sizing: border-box;
}
.blog-info {
    display: flex;
    box-sizing: border-box;
}

.about-blog {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
}

.about-blog .blog-writer > a {
    text-decoration: none;
}

.about-blog .blog-info > a {
    text-decoration: none;
}

/* section7/blog posts end  */
