a.hero-btn {
    color: var(--bg-white);
    display: inline-block;
    padding: 0.5em 2em;
    margin: 0 0.3em 0.3em 0;
    font-family: var(--main-font);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

a.hero-btn:hover {
    box-shadow: 0px 27px 14px 0px rgba(132, 144, 253, 0.3);
}
