*, *::before, *::after {
    box-sizing: border-box;
}

.carousel {
    height: auto;
    height: auto;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    display: block;
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 75px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 5px;
    padding: 0 10px;
    background-color: rgba(108, 122, 137, 0.1);
    transition: all 0.5s;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(108, 122, 137, 0.2);
}

.carousel-button.prev {
    left: 25px;
}
.carousel-button.next {
    right: 25px;
}