/* section8/labels start  */

.labels-container {
    background-image: var(--gradient);
}

.labels-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100px;
}
.labels-img > img {
    margin: 0, auto;
    opacity: 0.5;
}
.labels-img > img:hover {
    opacity: 1;
    cursor: pointer;
}

/* section8/labels end  */
