/* header/nav start */
.header-container {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
}


.header-scrolled {
    transition: all 0.5s;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
}

.header-container > .row > .visible-flex {
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px;
    color: black;
    text-transform: uppercase;
    vertical-align: middle;
}

.nav-menu > :first-child {
    color: #8490ff;
}

.nav-menu > a:hover {
    color: #8490ff;
}

.navbar_toggle {
    margin-left: 5%;
    font-size: 30px;
    color: var(--main-color);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: none;
}
/* header/nav end  */
@media only screen and (max-width: 992px) {
    .nav-wrap {
        justify-content: space-between;
    }
    .nav-menu {
        display: none;
    }

    .navbar_toggle {
        display: flex;
        justify-content: flex-end;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        color: var(--text-color);
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
}
