/* header/nav start */
.header-container {
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-scrolled {
    transition: all 0.5s;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
}

.header-container > .row > .visible-flex {
    justify-content: space-between;
    align-items: center;
}
.nav-menu a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px;
    color: black;
    text-transform: uppercase;
    vertical-align: middle;
}

.nav-menu > :first-child {
    color: #8490ff;
}

.nav-menu > a:hover {
    color: #8490ff;
}

@media only screen and (max-width: 992px) {
    .page-mask {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: translateX(-100%);
    }
    .page-mask[data-visible=true] {
    transform: translateX(0%);
    }
    .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    left: 0px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
    transform: translateX(-100%);
    z-index: 2;
    }
    .nav-menu[data-visible="true"] {
    transform: translateX(0%);
    }
    .nav-menu > .mobile-link {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    padding: 10px 22px 10px 15px;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    }
    .nav-menu > :first-child {
    color: #8490ff; 
    }
    .mobile-nav-toggle{
    display: flex;
    align-self: flex-end;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: var(--text-color);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 3;
    }
    .logo {
    padding-left: 5%;
    }
}
/* header/nav end  */
