/* section1/personal details start  */
.about-me {
    background-color: var(--bg-gray);
}
.about-me > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about-me-intro {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;


}
.about-me > .description {
    text-transform: none;
    padding-bottom: 30px;
}

/* section1/personal details end  */
