/* section2/offered services start  */
.services {
    color: white;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
    display: block;
}

.grid-container-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    --w: 1140px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
}

.row-service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    --w: 650px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
}

.row-service > h2 {
    font-size: 36px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    line-height: var(--text-line-height);
}

.row-service > p {
    color: rgb(119, 119, 119);
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: var(--text-line-height);
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.grid-item > a {
    text-align: center;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.grid-item > .service-icon {
    margin-top: 60px;
    margin-bottom: 0px;
}

.grid-item > p {
    color: rgb(119, 119, 119);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: var(--text-line-height);
    margin: 0px 16px 16px 16px;
}

.services .grid-item:hover .service-icon {
    color: transparent;
    background: linear-gradient(to right, #8490fd, #63bcfc);
    -webkit-background-clip: text;
    transition: all 0.6s;
}

.services .grid-item:hover .service-title {
    color: transparent;
    background: linear-gradient(to right, #8490fd, #63bcfc);
    -webkit-background-clip: text;
    transition: all 0.3s;
}

.grid-container-service ::selection {
    background-color: #8490ff;
    color: white;
}

@media (max-width: 1199px) {
    .row-service {
        --w: 530px;
    }

    .grid-container-service { 
        --w: 960px;
    }

    .grid-container-service .grid-item > p {
        margin: 0px 0px 16px 0px;
    }
}

@media (max-width: 991px) {
    .row-service {
        --w: 720px;
    }

    .grid-container-service { 
        --w: 720px;
        grid-template-columns: 1fr 1fr;
    }

    .grid-container-service .grid-item > p {
        margin: 0px 0px 16px 0px;
    }
}

@media (max-width: 767px) {
    .row-service {
        --w: 540px;
    }

    .grid-container-service { 
        --w: 540px;
        grid-template-columns: 1fr;
    }

    .grid-container-service .grid-item > p {
        margin: 0px 96px 16px 96px;

    }
}

@media (max-width: 576px) {
    .row-service {
        --w: 290px;
    }

    .grid-container-service { 
        --w: 320px;
        grid-template-columns: 1fr;
    }

    .grid-container-service .grid-item > p {
        margin: 0px 0px 16px 0px;
    }
}

@media (max-width: 320px) {
    .row-service {
        --w: 273px;
    }

    .row-service > h2 {
        line-height: 1.2em;
    }

    .grid-container-service { 
        --w: 303px;
        grid-template-columns: 1fr;
    }

    .grid-container-service .grid-item > p {
        margin: 0px 0px 16px 0px;
    }
}
/* section2/offered services end  */