/* section2/offered services start  */
.services {
    color: white;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
    display: block;
}

.grid-container-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    --w: 1140px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
}

.row-service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    --w: 650px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
}

.row-service > h2 {
    font-size: 36px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    line-height: var(--text-line-height);
}

.row-service > p {
    color: rgb(119, 119, 119);
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: var(--text-line-height);
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.grid-item > a {
    text-align: center;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.grid-item > p {
    color: rgb(119, 119, 119);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: var(--text-line-height);
    margin: 0px 16px 16px 16px;
}

/* reiks dar grizt prie gradient*/

.services .grid-item:hover .service-icon {
    color: #8490ff;
    transition: all 0.6s
}

.services .grid-item:hover .service-title {
    color: #8490ff;
    transition: all 0.3s
}

/* section2/offered services end  */