.counter {
    background: var(--gradient);
    color: white;
    padding: 100px;
}

.counterbox > h3 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.counterbox > p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: var(--text-line-height);
    margin-top: -8px;
}